body {
    font-family: 'Playfair Display', serif;
    opacity: 1;
    
}






/* Invisibility */
.invis {
    display: none;
}



/* Decreased opacity */
.transp {
    opacity: .3;
}



/* Size of attack text and font color */
.atk-text-box {
    min-height: 18rem;
    min-width: 4.5rem;
    color: white;
    text-align: left;
    border: 2px solid darkslategray;
}

/* Reduced opacity on non-hovered heroes */
.hero-pre {
    opacity: .7;
}

/* Highlight on hover effect for heroes */
.hero-pre:hover {
    opacity: 1;
    /* border: 1px solid black;
    border-style: round; */
}

/* Hide an element but keep it taking space */
.temp-hide {
    visibility: hidden;
    opacity: 0;

}

/* Gradual fade in */
.fader {
    
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.qk-fader {
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    /* transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out; */

}


